
module my-cupspdf 1.0;

require {
	type cups_pdf_t;
	class capability dac_override;
}

#============= cups_pdf_t ==============
allow cups_pdf_t self:capability dac_override;
